<nav class="nav nav-pills mb-3 mt-3">
  <button
    type="button"
    class="btn btn-light text-primary mr-2"
    routerLink="/details"
    routerLinkActive="active"
  >
    <app-icon icon="details" />
    <span>Details</span>
  </button>

  <button
    type="button"
    class="btn btn-light text-primary mr-2"
    routerLink="/activity"
    routerLinkActive="active"
  >
    <app-icon icon="activity" />
    <span>Activity</span>
  </button>

  <button
    type="button"
    class="btn btn-light text-primary mr-2"
    routerLink="/comments"
    routerLinkActive="active"
  >
    <app-icon icon="comments" />
    <span>Comments</span>
  </button>

  <button
    type="button"
    class="btn btn-light text-primary"
    routerLink="/attachments"
    routerLinkActive="active"
  >
    <app-icon icon="attachments" />
    <span>Attachments</span>
  </button>
</nav>
