.container {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
}

div.header {
  border-radius: 6px;
  background-image: linear-gradient(
    90deg,
    rgba(242, 244, 255, 1) 0%,
    rgba(255, 240, 253, 1) 100%
  );
  padding: 3px;
  padding-left: 10px;
  margin-right: 24px;
}

.ai-text {
  color: rgba(104, 113, 150, 1);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-left: 10px;
}

.custom-table th,
.custom-table td {
  border: none;
}

.icon-column {
  width: 30px;
}

.custom-table th,
.custom-table td {
  color: rgba(104, 113, 150, 1);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  padding: 6px 0px;
}

.custom-table {
  width: 500px;
  margin-top: 28px;
  margin-bottom: 52px;
}

.unpaid span {
  color: rgba(177, 54, 0, 1);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  background-color: rgba(252, 238, 181, 1);
  padding: 5px;
  border-radius: 5px;
}

.subtasks-title {
  color: rgba(3, 9, 41, 1);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
}

.progress {
  background-color: rgba(62, 64, 219, 0.3);
  border-radius: 3px;
  width: 94px;
  height: 10px;
}
.progress-bar {
  background-color: #3e40db;
}

.progress-bar-value {
  color: rgba(104, 113, 150, 1);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
}

input.form-control {
  border-radius: 5px;
  border: 1px solid rgba(170, 175, 255, 1);
  box-shadow: 0px 1px 0.5px -1px rgba(216, 220, 235, 1),
    0px 1.5px 3px -1.5px rgba(200, 207, 233, 1);
  background-color: rgba(255, 255, 255, 1);
  height: 24px;
}
